@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Unbounded:wght@200..900&display=swap");

@import "tailwindcss";

@import "bootstrap-icons/font/bootstrap-icons.css";
/* @import 'remixicon/font/remixicon.css'; */

:root {
  --prim-color: #299e60;
  --prim-light: #e6f9ef;
  --white-color: #fff;
  --black-color: #000;

  --unbounded: "Unbounded", sans-serif;
  --merienda: "Merienda", cursive;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

* {
  scroll-behavior: smooth;
}

.Unbounded {
  font-family: var(--unbounded) !important;
}

.Merienda {
  font-family: var(--merienda) !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.menu-link a {
  font-weight: 600;
  transition: var(--transition-regular);
}

.menu-link a:hover {
  color: var(--prim-color);
}

.fixed-nav{
  animation: Anim-fixed var(--transition-slow) forwards  linear;
  box-shadow: 0 2px 10px rgba(131, 131, 131, 0.6);
}